@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .main-App{
    background: #0b0b0b;
    background-image: url('./Assets/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
} */

.img-header {
    pointer-events: none;
}

.footer-svg {
    pointer-events: none;
}

.svg-hidden {
    pointer-events: none;
}